<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clocktower Carl Stat Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='carl.ico') }}">
</head>
<body>
    <nav class="page-navigation" aria-label="Page navigation">
        <button type="button" onclick="window.location.href='/'">Grimoire</button>
        <button type="button" onclick="window.location.href='/script'">Script</button>
        <button type="button" onclick="window.location.href='/dashboard'">Dashboard</button>
        <!-- <button type="button" onclick="window.location.href='{{ url_for("log_stat_reminder") }}'">Log Stats Reminder</button> -->
    </nav>
    <div id="script-container" class="script-container">
        <h1>Clocktower Carl Script</h1>
        <p>This is the script page for Clocktower Carl. You can add your script content here.</p>
        <!-- Add your script content here -->
    </div>

    <form id="scriptForm">
        <label for="scriptInput">Paste your script JSON here:</label>
        <textarea id="scriptInput" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>